Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
var_str = 'This is my string'                                          # For string
print('The type of the var_str variable is      :',type(var_str))    

var_list = [1,2,3,2.45,'Pwskills',True]
print('The type of the var_list variable is     :',type(var_list)) 

var_float = 3.14
print('The type of the var_float variable is    :',type(var_float))

var_tuple = (1,2,3,'Pwskills',True)
print('The type of the var_tuple variable is    :',type(var_tuple))

The type of the var_str variable is      : <class 'str'>
The type of the var_list variable is     : <class 'list'>
The type of the var_float variable is    : <class 'float'>
The type of the var_tuple variable is    : <class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
# Explaination:
# (i) var1 = ''
#        Since the variable is assigned with data enclosed in quotes, the variable acts as a string

# Proof:
var1 = ''
print('Type of var1 is: ',type(var1))

# Explanation:
# (ii) var2 = ‘[ DS , ML , Python]’
#        Just like var1, the var2 variable is assigned with data enclosed in quotes, the variable acts as a string, However if the quotes were removed the variable would act like a list

# Proof:
var2 = '[ DS , ML , Python]'
print('Type of var2 is: ',type(var2))

# Explanation:
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#        Since the variable is assigned with some data enclosed in square brackets i.e. [ ], the variable acts as a list

# Proof:
var3 = [ 'DS' , 'ML' , 'Python' ]
print('Type of var3 is: ',type(var3))

# Explanation:
# (iv) var4 = 1.
#        Since variable is directly assigned with a decimal number, the variable acts as a float.

# Proof:
var4 = 1.
print('Type of var4 is: ',type(var4))

Type of var1 is:  <class 'str'>
Type of var2 is:  <class 'str'>
Type of var3 is:  <class 'list'>
Type of var4 is:  <class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [3]:
# (i) /
# The above arithmetic operator is 'Division' which is used to divide two numbers (Integer,Float) which provides output in float
# Syntax : Dividend / Divisor
# Example :
print('Division operator[/]           : 10/3    : ',10/3)

# (ii) %
# The above arithmetic operator is 'Modulus' which is used to find the remainder of a divison operation
# Syntax : Dividend % Divisor
# Example : 
print('Modulus operator[%]            : 10%3    : ',10%3)

# (iii) //
# The above arithmetic operator is 'Floor Division'.
# Just like Division operator, 'Floor Division' is used to divide two numbers, only difference with floor division is that it will give output as a whole number i.e. integer format
# Syntax : Dividend // Divisor
# Example : 
print('Floor Division operator[//]    : 10//3   : ',10//3)

# (iv) **
# The above arithmetic operator is 'Exponential' which is used to find the resultant of a number with a provided power
# Syntax : Base Number**Power Number
# Example : 
print('Exponential operator[**]       : 10**3   : ',10**3)

Division operator[/]           : 10/3    :  3.3333333333333335
Modulus operator[%]            : 10%3    :  1
Floor Division operator[//]    : 10//3   :  3
Exponential operator[**]       : 10**3   :  1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
lst = [1,2,3.45,4+7j, 'Pwskills',True,"Assignment",4,9,False]

print('For a list of length',len(lst),'following are list elements with their data types:\n')
for i in lst:
    print("Element is '"+str(i)+"'","it's datatype is : ",type(i))
    print('-'*100)

For a list of length 10 following are list elements with their data types:

Element is '1' it's datatype is :  <class 'int'>
----------------------------------------------------------------------------------------------------
Element is '2' it's datatype is :  <class 'int'>
----------------------------------------------------------------------------------------------------
Element is '3.45' it's datatype is :  <class 'float'>
----------------------------------------------------------------------------------------------------
Element is '(4+7j)' it's datatype is :  <class 'complex'>
----------------------------------------------------------------------------------------------------
Element is 'Pwskills' it's datatype is :  <class 'str'>
----------------------------------------------------------------------------------------------------
Element is 'True' it's datatype is :  <class 'bool'>
----------------------------------------------------------------------------------------------------
Element is 'Assignment' it's datatype is :  <class 'str'>
----------------------------------------------------------------------------------------------------
Element is '4' it's datatype is :  <class 'int'>
----------------------------------------------------------------------------------------------------
Element is '9' it's datatype is :  <class 'int'>
----------------------------------------------------------------------------------------------------
Element is 'False' it's datatype is :  <class 'bool'>
----------------------------------------------------------------------------------------------------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
a = int(input('Enter Divident Number : '))
b = int(input('Enter Divisor Number  : '))

if a%b == 0:
    print('-'*40)
    print(a,'is purely divisible by',b)
    counter = 0
    while True:
        a = a/b
        counter+=1
        if a%b != 0:
            break
    print('Number of divisions possible : ',counter)
    print('-'*40)
else:
    print('-'*40)
    print(a,'is not purely divisible by',b)
    print('-'*40)

Enter Divident Number :  100000
Enter Divisor Number  :  2

----------------------------------------
100000 is purely divisible by 2
Number of divisions possible :  5
----------------------------------------

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
lst = [7, 3, 57, 56, 41, 14, 28, 39, 87, 39, 52, 85, 76, 74, 27, 75, 78, 94, 15, 13, 84, 47, 90, 40, 8]

divisible   = []
indivisible = []
for i in lst:
    if(i%3 == 0):
        divisible.append(i)
    else:
        indivisible.append(i)
        
print('-'*100)
print('List elements divisble by 3 are      : ',divisible)
print('-'*100)
print('List elements not divisble by 3 are  : ',indivisible)
print('-'*100)

----------------------------------------------------------------------------------------------------
List elements divisble by 3 are      :  [3, 57, 39, 87, 39, 27, 75, 78, 15, 84, 90]
----------------------------------------------------------------------------------------------------
List elements not divisble by 3 are  :  [7, 56, 41, 14, 28, 52, 85, 76, 74, 94, 13, 47, 40, 8]
----------------------------------------------------------------------------------------------------

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
# Mutable Data types:
#    Mutable data can be defined as those data types which can be altered or modified after creation.
#    Mutable data types allow to append or remove data or do arithmetic operations even after creation
#    Examples: List,Set,Dictionary


print('-'*100)
print('Example of a Mutable Data type[List]: \n')
a = [1,2,3,4,5]
print('Created list                           :',a)
a.append(10)
print('List after updating new items          :',a)
del a[0]
print('List after removing an existing item   :',a)
print('-'*100)

----------------------------------------------------------------------------------------------------
Example of a Mutable Data type[List]:

Created list                           : [1, 2, 3, 4, 5]
List after updating new items          : [1, 2, 3, 4, 5, 10]
List after removing an existing item   : [2, 3, 4, 5, 10]
----------------------------------------------------------------------------------------------------

In [8]:
# Immutable Data types:
#    Immutable data can be defined as those data types which cannot be altered after creation
#    Immutable data types do not allow any kind of alteration i.e you cannot append or remove data or do any arithmetic operation after creation
#    Examples: String,Tuples

print('Example of a Immutable Data type[Tuple]: \n')

a = (1,2,3,4,5,6)

Example of a Immutable Data type[Tuple]:

In [9]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

Above is the error that shows that tuple data type does not allow any changes once the tuple is created